.itold-them-video {
  width: 100%;
  max-width: max-content;
  height: 100%;
  overflow-x: hidden;
}
@media (width < 480px) {
  .itold-them-video {
    width: 100%;
    max-width: 300px !important;
  }
}
@media (width < 768px) {
  .itold-them-video {
    width: 100%;
    max-width: 450px !important;
  }
}
@media (width < 980px) {
  .itold-them-video {
    width: 100%;
    max-width: 550px !important;
  }
}
@media (width < 1200px) {
  .itold-them-video {
    width: 100%;
    max-width: 700px !important;
  }
}
