#root {
  /* text-align: center; */
  background-color: var(--black);
  min-height: 100vh;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h3,
h4,
h5,
ul {
  font-family: "Afronaut Test", sans-serif !important;
}
.link {
  font-family: "Roc Grotesk W05 Wide Bold";
}
:root {
  --gold: #c06907;
  --black: #000000;
  --white: #ffffff;
}
.custom-text-gold {
  color: var(--gold);
}
.custom-text-white {
  color: var(--white);
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-marquee {
  animation: marquee 5s linear infinite;
  font-family: "Archivo Black", serif;
  font-weight: 900;
  font-style: normal;
}

.footer {
  font-size: 9px;
}

.scroll-btn {
  position: fixed;
  bottom: 3%;
  right: 4%;
  color: var(--gold) !important;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 1;
}
